<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{{ $.Site.Title }}</title>


  {{ $styles := resources.Get "sass/main.scss" | toCSS }}

  <link rel="stylesheet" href="/css/jSlabify.min.css">
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/jquery.jSlabify.min.js"></script>

  <script>
      function isNumber(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }
    
    $(window).bind("load", function() {
        $(".content").jSlabify({
            constrainHeight: true,
            slabRatio      : 2,

            hCenter        : true,
            vCenter        : true
        });
      });
      
  </script>
</head>

<body>


  {{ block "main" . }}{{end}}

  
</body>

</html>
