@import url('https://fonts.googleapis.com/css?family=Roboto:900');


body {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 0, 0)
}

// .wrapper{
  // }
  
  canvas {
      // border: 1px solid red;
  // display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}



.page {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // border: 1px solid red;
  // width: 100vw;
  height: 100vh;
  // padding: 0 1rem;
  .content {
    text-align: center;
    
    .slabbedtext {
      // border: 1px dotted blue;
      font-family: 'Roboto', sans-serif;
      color: rgba(255,255,255,.65)
      // text-transform: uppercase;
    }
  }

}

.ball {
  // background-color: white;
  border: 1px dashed white;
  opacity: .5;
  width: 16px;
  height: 64px;
  position: absolute;
  bottom: -32px;
  left: calc((100vw / 2) - 8px);
  border-radius: 32px;
  &.isLast{
    display: none;
  }
}

div.ball:last-of-type(){
  background-color: red;
}


.slabified .slabbedtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}

.slabbedtextinactive .slabbedtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}

.slabbedtextdone .slabbedtext {
  display: block;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  // body {
  //   // background-color: blue;
  // }

  // .page {
  //   width: 50vw;
  //   margin: 0 auto;
  // }


  // .ball {
  //   left: calc((50vw / 2) - 8px);
  // }
}




/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px) and (max-width: 991px) {
  // body {
  //   background-color: olive;
  // }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 599) {
  // body {
  //   background-color: red;
  // }
}