{{ define "main" }}
  {{ range $.Site.Data }}

    {{ range $index, $blok := .bloks }}
    <div class="wrapper">
      <div class="container page">
        <canvas id="canvas-{{$index}}"></canvas>
        <h1 class="content">
            {{ range $blok.text }}
            <span class="slabbedtext"> {{ .row }} </span>
            {{ end }}
        </h1>
        <div class="ball {{ .css }}"></div>
    </div>
  </div>
    {{ end }}

  {{ end }}

<script>

  var wHeight, wWidth

  $(function(){

    console.log("ready", window.innerHeight);

    wHeight = window.innerHeight;
    wWidth = window.innerWidth;

    {{ range $.Site.Data }}
      {{ range $index, $blok := .bloks }}
        refresh({{$blok.back}},"canvas-"+{{$index}});
      {{end}}
    {{end}}
    {{/*  refresh("hey","hey");
    
    refresh("?","hou");
    refresh("tijd","tijd");
    refresh("euh","datwe");
    
    refresh("ik draai rond de pot","euh3");
    refresh("feestje","feest");
    refresh("euh","euh3");
    refresh("euh","euh4");
    refresh("knip oog","jeweetwel");
    refresh("feestje","vrienden");
    refresh("60","tafel");
    refresh("?","denk");
    refresh("<3","ohen");
    refresh("<3","valentijn");
    refresh("<3","you");  */}}
  })


  var refresh = function(_text, _target) {

    console.log (_text,_target)
    var _canvas = document.getElementById(_target);

    _canvas.height = wHeight;
    _canvas.width = wWidth;
    var ctx = _canvas.getContext("2d");

    ctx.clearRect(0,0,400,400);

    for(i=0; i<100; i++) {


      var fontSize = Math.floor(Math.random()*80);
      
      var x = Math.floor(Math.random()*wWidth);
      var y = Math.floor(Math.random()*wHeight);
      var radius = Math.floor(Math.random()*20);
      var rotate = Math.random();
      
      
      ctx.beginPath();
      
      ctx.rotate(rotate);
      ctx.fillStyle = 'rgba(255,255,255,.2)';
      ctx.font = fontSize + "px Verdana";
      ctx.fillText(_text, x, y);
      ctx.closePath();
    }
  }

</script>

{{ end }}
